{% extends 'base.html' %}
{% block title %}Services{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Our Services</h1>
    <p class="text-center">Explore a variety of services tailored to help you achieve your fitness goals.</p>
    
    <div class="row">
        <!-- Personal Training -->
        <div class="col-md-4">
            <div class="card service-card">
                <img src="static/assets/img/1.jpg" class="card-img-top" alt="Personal Training">
                
                <div class="card-body">
                    <h5 class="card-title"> <b> Personal Training </b> </h5>
                    <p class="card-text">Looking to achieve your fitness goals with personalized guidance and support? Look no further than TITAN GYM! Our gym offers top-notch personal training services tailored to your individual needs and aspirations. Whether you're aiming to build strength, lose weight, or improve overall health, our certified trainers are here to guide you every step of the way. With one-on-one coaching, customized fitness plans, and expert advice, we'll help you unleash your full potential and reach new heights of fitness success. Join us at TITAN GYM and embark on a transformative journey towards a healthier, happier you!</p>
                </div>
            </div>
        </div>
        <!-- Group Fitness -->
        <div class="col-md-4">
            <div class="card service-card">
               
                <img src="static/assets/img/2.jpg" class="card-img-top" alt="Group Fitness Classes">
                <div class="card-body">
                    <h5 class="card-title"> <b> Group Fitness Classes </b> </h5>
                    <p class="card-text">
                        Elevate your fitness journey with TITAN GYM's Group Fitness Classes! Led by experienced instructors in a supportive community environment, our diverse range of classes offers something for everyone. From high-intensity workouts to mind-body exercises like yoga and Pilates, we've got you covered. Join us and experience the thrill of group training!</p>
                </div>
            </div>
        </div>
        <!-- Nutrition Advice -->
        <div class="col-md-4">
            <div class="card service-card">
                <img src="static/assets/img/3.png" class="card-img-top" alt="Nutrition Advice">
                <div class="card-body">
                    <h5 class="card-title"> <b> Nutrition Advice </b> </h5>
                    <p class="card-text">Elevate your fitness journey with TITAN GYM's Nutrition Advice services! Our expert nutritionists provide personalized dietary plans tailored to your goals and lifestyle. Fuel your body with the right foods for optimal performance and lasting results. Join us and take your fitness to the next level!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
